body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  background-color: rgb(0, 0, 0);
  height: 10vh;
  top: 0;
  z-index: 5;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgba(255, 255, 255, 0.384);
  gap: 20px;
  color: white;
}

#Logo-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  text-decoration: none;
  color: white;

}

#logo {
  height: 80%;
  padding: 15px;
  border-radius: 40px;
}

#tittle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  margin: 0;
}
.buttons{
  padding-right: 32px;
}
.buttons ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.buttons ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  padding: 5px 0;
  transition: all 0.3s ease;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media (max-width: 768px) {
  #tittle{
   display: none;
  }
}


#hero {
  background-color: #333;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

#video {
  position: absolute;
  object-fit: cover;
  z-index: 1;
  width: 100%;
  height: 90vh;
}

#content {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
  width: 100%;
  height: 90vh;
  color: #ffffff;
  background-color: #0000006b;
  align-items: center;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
  text-align: center;
}

#content h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}

#content p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

#content a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(255, 200, 0);
  color: #000000;
  padding: 10px 30px;
  border: none;
  text-decoration: none;
  transition: 0.3s ease-in;
}

#content a:hover {
  background-color: rgb(255, 157, 0);
  color: #ffffff;
}

#equipo-recursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #fff;
  padding: 50px 16px;
}

#equipoyrecuros {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e38214;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

#equipo-recursos p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 20px;
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#listaequipos {
  max-width: 700px;
  margin: 0 auto;
}

#listaequipos li {
  list-style: none;
  font-size: 1.1rem;
  background: rgba(111, 111, 111, 0.207);
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 10px;
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 10px;
}

#servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  color: #1e0825;
  padding: 80px 20px 80px 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

#contenedor-servicios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 40px 0;
}

#servicios h2 {
  font-size: 2.5rem;
  margin: 10px 0;
  text-align: center;
}

.card-servicios {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 300px;
  max-width: 400px;
  height: 55vh;
  box-sizing: border-box;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.462);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  transition: 0.3s ease-in;
}

.card-servicios:hover {
  transform: scale(1.05);
}

.card-servicios p {
  color: rgb(114, 114, 114);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  margin: 0 8px 16px 8px;
}

.card-servicios img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}


#porque-elegirnos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(233, 233, 233);
  gap: 10px;
  align-items: center;
  width: 100%;

  padding: 4rem 1rem;
  box-sizing: border-box;
}

.izquierda {
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
}

.derecha {
  min-width: 300px;
  padding: 20px;
}

.titulo {
  font-size: 2.5rem;
  font-weight: bold;
}

.texto-principal {
  font-size: 1.5rem;
  color: #555;
}

.opciones h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.opciones p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-top: 10px;
}

.porque-elegirnos-derecha {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.porque-elegirnos-derecha svg {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  color: #dbb014;
}

#comentarios-clientes {
  height: auto;
  background-color: rgb(255, 255, 255);
}

#comentarios-clientes h2 {
  margin: 40px 0 20px calc(50% - 135px);
}

.testimonios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;

  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.testimonio {
  background: #fff;
  padding: 30px;
  border-radius: 15px;

  border: 2px solid transparent;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.testimonio:hover {
  transform: scale(1.05);

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

  border-color: #6b6b6b71;
}

.foto-perfil {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #d19513;
  /* background: linear-gradient(90deg, #c27700, #d7ab0d, #b87800); */
  color: #333;
  padding: 20px;
  gap: 7px;
  color: white;
}

.footer-aside {
  text-align: center;
}

.footer-aside img {
  width: 100px;
  border-radius: 20px;
}

.footer-logo {
  fill: #333;
}

.footer-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-link {
  display: block;
  color: #602200;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  color: #005599;
}

#quienes-somos {
  background-color: black;
  padding: 4rem 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.imagen-quienes-somos {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  object-fit: cover;
}

.contenido-quienes-somos {
  flex: 1;
  min-width: 300px;
  padding: 3%;
  text-align: left;
}

.titulo-quienes-somos {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.texto-quienes-somos {
  margin-bottom: 0.75rem;
  font-size: 1.3rem;
  color: #ffffff;
  text-align: justify;
}